.page-container {
  min-height: 100vh;
  max-width: 540px;
  margin: auto;
  background-color: white;
  position: relative;
}

.top-title {
  color: black;
  font-size: 36px;
  text-align: center;
  margin: 1em;
}

.linear-horizontal {
  display: flex;
  flex-direction: row;
}

.btn-green {
  color: black;
  background-color: #DEDDA4;
  padding: 0.5em 0.7em;
  border: 1px solid grey;
  border-radius: 5px;
  width: 150px;
  height: 32px;
}

.top-bottom {
  position: absolute;
  bottom: 3em;
  left: 1em;
}

.bottom-title {
  margin: 0.5em 0
}
.qr-container {
  display: flex;
  flex-direction: row;
}
.email-form-title {
  text-align: left;
}
.email-confirm-form {
  display: inline-block;
}
.form-label {
  width: 100px;
  margin-right: 20px;
  display: inline-block;
}
.form-group {
  text-align: left;
  display: flex;
  flex-direction: row;
}
.form-select {
  width: 155px;
}
.search-table-title {
  float: left;
  background-color: #FF94DA;
  padding: 0.2em 1em;
  border: 2px solid black;
  border-radius: 8px;
}
.search-result-title {
  margin: 0.5em;
}
.span-nonconfirm {
  float: right;
  margin-right: 1em;
  background-color: #FF94DA;
  padding: 0.1em 0.5em;
  border-radius: 2px;
}
.search-item:nth-child(even) {
  background-color: #FFFECE;
}
.search-item {
  padding: 0.3em;
}
.span-confirm {
  float: right;
  margin-right: 1em;
  background-color: darkgray;
  padding: 0.1em 0.5em;
  border-radius: 2px;
}
.search-table-border {
  border: 1px solid black;
  padding: 0.1em;
  margin-top: 0.2em;
}
.rank-mq {
  background-color: #FF6A78;
}
.rank-morq {
  background-color: #FFC6CC;
}
.rank-psc {
  background-color: #7EFF42;
}
.rank-sc {
  background-color: #C0FFA6;
}
.rank-detail {
  background-color: #FF94DA;
  padding: 0.1em 0.5em;
  border-radius: 5px;
  border: 2px solid black;
}

.search-detail-header {
  display: flex;
  flex-direction: row;
}
.search-detail-header-span {
  width: 65px;
  display: inline-block
}
.search-detail-header-span-w {
  width: 100px;
  display: inline-block
}
.search-mark-box-container {
  display: table;
  padding: 2px;
  border: 1px solid black;
  margin-left: 10px;
}
.search-mark-box {
  position: relative;
  width: 110px;
  height: 110px;
  text-align: center;
  border: 1px solid black;
}
.search-mark-box-s {
  position: relative;
  width: 80px;
  height: 80px;
  text-align: center;
  border: 1px solid black;
}
/* font weight */
.fw-bold {
  font-weight: bold;
}
/* font size */
.fs-10 {
  font-size: 10px;
}
.fs-11 {
  font-size: 11px;
}
.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-20 {
  font-size: 20px;
}
.fs-25 {
  font-size: 25px;
}
/*margin*/
.mt-1 {
  margin-top: 0.5em;
}
.mb-1 {
  margin-bottom: 0.5em;
}
.ml-1 {
  margin-left: 0.5em;
}
.mr-1 {
  margin-right: 0.5em;
}
.mt-2 {
  margin-top: 1em;
}
.mb-2 {
  margin-bottom: 1em;
}
.ml-2 {
  margin-left: 1em;
}
.mr-2 {
  margin-right: 1em;
}
/* search detail */
.table-summary {
  font-size: 13px;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  background-color: #feffc8;
}
.table-summary td {
  border: 0.5px solid black;
  text-align: left;
  padding-left: 5px;
}
.detail-header {
  border-bottom: solid 1px black;
  text-align: center;
}
.table-normal {
  border-collapse: collapse;
  width: 100%;
}
.table-normal td {
  border: 0.5px solid black;
  text-align: center;
}
.table-normal th {
  border: 0.5px solid black;
  text-align: center;
}
.span-subcat {
  border-bottom: 1px solid black;
}
.green-back input{
  background-color: #A5B8BC;
}
.green-back textarea{
  background-color: #A5B8BC;
}